<!--혜윤/ 회원가입페이지
20160727 최종수정 -->
<style>
  header {
    display: none !important;
  }
  .thumb{
    max-width: 200px;
    max-height: 200px;
  }
  .hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey;
  }
</style>
  <md-content flex ui-view>
    <form method="post" name="myForm">
      <div>
        <md-input-container class="md-block">
          <label>Name</label>
          <input name="name" ng-model="join.name" required />

          <div ng-messages="myForm.name.$error">
            <div ng-message="required">이름을 입력해주세요.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>ID</label>
          <input name="id" ng-model="join.id" required />

          <div ng-messages="myForm.id.$error">
            <div ng-message="required">아이디를 입력해주세요.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Password</label>
          <input type="password" name="password" ng-model="join.password" required />

          <div ng-messages="myForm.password.$error">
            <div ng-message="required">비밀번호를 입력해주세요.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
        <label>생년월일</label>
        <input type="text" name="birth" ng-model="join.birth" />
          <div class="hint">ex) 930903</div>
      </md-input-container>

        <md-input-container>
          <input type="file"  ngf-select ng-model="join.picFile" name="file" accept="image/*" ngf-max-size="5MB" ngf-resize="{width:500, height: 500,  centerCrop: true}" ngf-resize-if="{width > 5000 || height > 5000}">
          <i ng-show="myForm.file.$error.maxSize">파일 사이즈 초과
            {{myFile.size / 1000000|number:1}}MB: max 5MB</i>
          <img ng-show="myForm.file.$valid" ngf-thumbnail="join.picFile" class="thumb"><br>
          <md-button ng-click="join.picFile = null" ng-show="join.picFile">사진삭제</md-button>
        </md-input-container>
        <div align="center">
        <md-button class="button button-positive" type="button" ng-click="signIn.submit(join)">회원가입</md-button>
        <md-button class="button button-positive" type="reset" ng-click="signIn.goToLogin()">취소</md-button>
        </div>
      </div>
    </form>
  </md-content>
