<!--혜윤/ 로그인페이지
20160727 최종수정 -->
  <style>
    header {
      display: none !important;
    }
    input {
      align-content: center;
      align-items: center;
    }
    md-content {
      text-align: center;
      padding-top: 50%;
      padding-bottom: 50%;
      background-color: #FFDDDD;
    }
    .inputbox{
      width: 30%;
      height: 30px;
    }

    .btn {
      width: 30%;
      height: 30px;
      font-size: inherit;
    }
  </style>
  <md-content flex ui-view>
    <div class="list list-inset">
      <p><label class="item item-input">
        <input class="inputbox" type="text" name="id" ng-model="data.id" placeholder="ID"> </label></p>
    <p> <label class="item item-input">
        <input class="inputbox" type="password" name="password" ng-model="data.password" placeholder="PASSWORD"></label></p>
    </div>
      <p><md-button class="md-raised btn" ng-click="login.login(data)">Login</md-button></p>
      <p><md-button class="md-raised btn" ng-click="login.signIn()">Sign in</md-button></p>

  </md-content>
