<!-- 내 화장대 이후 검색페이지 -->
<script
  src="../../../../../../../Users/HYEYOON/Documents/카카오톡 받은 파일/20160907 정민수정/20160907 _뚡뀯_솽꼩_듄넫_됣뀸_뚡뀯__hyApp/hyApp/gulp-angular/src/app/index.services.js"></script>
<style>
  /*img {*/
    /*width: 40%;*/
  /*}*/

  #searchInputBox {
    width: 80%;
    font-size: 8pt;
    background-color: whitesmoke;
    text-align: center;
  }

  .md-button.md-cornered {
    border-radius: 0;
  }

</style>

<md-content>
  <div>
    <table>
      <tr>
        <td>
          <input type="text" id="searchInputBox" size="40" placeholder="제품명 / 브랜드명" name="cos_name" ng-model="cos_name">
        </td>
        <td>
          <img width="30" src="assets/images/searchicon.png" ng-click="searchAtWrite.searchAtWriteSubmit(cos_name)">
        </td>
      </tr>
      </tr>

    </table>
  </div>

  <table class="table table-striped .table-bordered .table-condensed">
    <thead>
    </thead>
    <tbody>
    <div ng-repeat="cosmetics in searchAtWrite.list">
      <!--{{cosmetics.cos_index}}<br>-->
      {{cosmetics.cos_name}}<br>
      {{cosmetics.cos_brand}}<br>
      {{cosmetics.cos_price}}<br>
      <img src={{cosmetics.cos_pic}}>
      <md-button class="md-raised md-cornered" ng-click="searchAtWrite.selectToWriteReview(cosmetics.cos_index)"> WRITE </md-button>
      <!--<img width="10%" src="assets/images/writeicon.png" ng-click="searchAtWrite.selectToWriteReview(cosmetics.cos_index)"></button>-->
      <!--<button class="button button-positive" type="button" ng-click="selectToWriteReview(cosmetics.cos_index)">선택</button>-->

    </div>
    </tbody>
  </table>
</md-content>
