<style>

  #cos_pic {
    max-width: 150px;
    min-width: 50px;
    width :100%;
    height: 100%;
  }
  div {
    max-width: 100%;
  }

</style>
<div layout="vertical" layout-fill>

  <md-content>

    <div ng-controller="SelectAsyncController" layout="row" ng-cloak>

        <!--md-on-open은 선택창을 열때, md-on-open은 선택창을 닫을때 발생-->
        <md-select placeholder="브랜드별" ng-model="brand" md-on-open="loadBrands()" style="min-width: 100px;" md-on-close="printSelectedBrands(brand.name)">
          <md-option ng-value="brand" ng-repeat="brand in brands">{{brand.name}}</md-option>
        </md-select>&nbsp;&nbsp;&nbsp;
        <md-select placeholder="제품별" ng-model="type" md-on-open="loadTypes()" style="min-width: 100px;" md-on-close="printSelectedTypes(type.name)">
          <md-option ng-value="type" ng-repeat="type in types">{{type.name}}</md-option>
        </md-select>

    </div>


    <md-list>

      <md-list-item class="md-3-line" ng-repeat="cosmetics in interestBrand.cosmeticsList" ng-if="cosmetics.cos_brand == interestBrand.cos_brand">

        <img ng-src="{{cosmetics.cos_pic}}" class="md-avatar">
        <div class="md-list-item-text" md-swipe-left="onSwipeLeft(cosmetics)">
          <h3>{{ cosmetics.cos_brand}}</h3>
          <h4>{{ cosmetics.cos_name}}</h4>
          <p>{{ cosmetics.cos_price}}원</p>
        </div>
        <md-divider md-inset ng-if="!$last"></md-divider>

      </md-list-item>

    </md-list>

    <md-content>
</div>



