<md-toolbar class="test" layout="row" layout-align="center center" >

  <section flex layout="row" layout-align="center">
    <md-button href="#/mycostable">
      <md-icon md-svg-src="assets/images/myDressingRoom.svg"></md-icon>
      내화장대</md-button>
    <md-button href="#/userSharedPage">
      <md-icon md-svg-src="app/svg/myDressingRoom.svg"></md-icon>
      이웃화장대</md-button>
    <md-button href="#/interest">
      <md-icon md-svg-src="assets/images/heart.svg"></md-icon>
      관심리스트</md-button>
    <md-button>
      <md-icon md-svg-src="app/svg/myDressingRoom.svg"></md-icon>
      이벤트</md-button>
  </section>

</md-toolbar>
