<style>
  img {
    max-width: 100%;

  }

  .type_btn {
    width: 100%;
    background-color:#FFEAEA;
    padding: 0;
    color: darkgray;
    margin: 0;
  }

  .bottom-related {
    width: 100%;
    text-align: center;
    padding: 0;
    color: darkgray;
    margin: 0;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }

  .star-related {
    width: 60px;
    align-content: left;
    margin-left: 0px;
    margin-right: 0;

  }

  .row {
    background-color: white;

  }
  .image {
    background-color:#FFEAEA;
    background-size: 100px 80px;
    background-repeat: no-repeat;
    padding:10px;
    border: 3px white;
    border-radius: 20px;

  }

  .image .text {
    position:absolute;
    top:100px; /* in conjunction with left property, decides the text position */
    left:25px;
    width:300px; /* optional, though better have one */
  }

  .expand-related {
    width: 20px;
    position: relative;
    left: 48%;
  }

  .fold-related {
    width: 20px;
    position: relative;
    left: 35%;

  }
  h5 {
    color: black;
    font-size:12px;

  }

  .td-img {
    width: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  h4.thick {
    font-weight: bold;
  }

  h4 {
    font-size:13px;
    color: grey;
    margin-left: 40px;
  }

  .md-headline {
    font-weight: bold;
    font-size:12px;
  }

  tr, td {
    padding: 1px;

  }

  center {
    background-color: white;
  }



</style>
<md-content style="background-color: whitesmoke">
  <md-card>
    <div class="row" ng-click="detail.show = !detail.show">
      <img style="width:100%; height:100%;" ng-if="mycostableDetail.mycostabledetail.m_cosimage.substring(0,4) != 'http'" ng-src="{{mycostableDetail.host}}{{mycostableDetail.mycostabledetail.m_cosimage}}" >
      <img style="width:100%; height:100%;" ng-if="mycostableDetail.mycostabledetail.m_cosimage.substring(0,4) == 'http'" ng-src="{{mycostableDetail.mycostabledetail.m_cosimage}}">

      <div ng-init="detail.show = false" ng-show="detail.show">
        <table>
          <tr>
            <td class="td-img" rowspan="2">
              <img ng-src="{{mycostableDetail.cosmeticInfomation.cos_pic}}">
            </td>


            <td>
              <span class="md-headline">{{mycostableDetail.cosmeticInfomation.cos_name}}</span><br><br>
              <span class="md-subhead">{{mycostableDetail.cosmeticInfomation.cos_price}}원</span><br>
              <div ng-if="mycostableDetail.cosmeticInfomation.cos_starrateAvg == 0"><br><img class="star-related" ng-src="assets/images/rating-star0.svg"></div>
              <div ng-if="mycostableDetail.cosmeticInfomation.cos_starrateAvg == 1"><br><img class="star-related" ng-src="assets/images/rating-star1.svg"></div>
              <div ng-if="mycostableDetail.cosmeticInfomation.cos_starrateAvg == 2"><br><img class="star-related" ng-src="assets/images/rating-star2.svg"></div>
              <div ng-if="mycostableDetail.cosmeticInfomation.cos_starrateAvg == 3"><br><img class="star-related" ng-src="assets/images/rating-star3.svg"></div>
              <div ng-if="mycostableDetail.cosmeticInfomation.cos_starrateAvg == 4"><br><img class="star-related" ng-src="assets/images/rating-star4.svg"></div>
              <div ng-if="mycostableDetail.cosmeticInfomation.cos_starrateAvg == 5"><br><img class="star-related" ng-src="assets/images/rating-star5.svg"></div>

              <img class="fold-related" ng-src="assets/images/expand-arrow.svg">

          </td>
          </tr>



        </table>
      </div>
      <md-card-content align="center">
        <img class="expand-related "width="20%" ng-if="detail.show != true" ng-src="assets/images/expand-button.svg">
      </md-card-content>
    </div>
  </md-card>



  <div align="center">


    <div class="image">
      "{{mycostableDetail.mycostabledetail.m_review}}"


    </div>
    </div>
  <br>
    <ul style="list-style-type:none">
      <li>
        <h4>개봉날짜 &nbsp;&nbsp;'{{mycostableDetail.mycostabledetail.m_open_date}}'</h4>
      </li>
      <li>
        <h4>사용기한 &nbsp;&nbsp;'{{mycostableDetail.mycostabledetail.m_expire_date}}'</h4>
      </li>

    </ul>



  <br><br><br><br><br>
  <div layout="row" class="bottom-related" style="background-color: #FFEAEA; position: fixed; bottom: 0px;" ng-controller="MyCosTableDetailController as ctrl">
    <md-button class="type_btn" href="#/mycostable">뒤로</md-button>
    <md-button class="type_btn" ng-click="ctrl.editDetail()">수정</md-button>
  </div>


</md-content>






