<style>

  img {
    border-radius: 50%;
  }

  .star-related {
    width: 50px;

  }
  .md-icon-button {
    width: 200px;
  }

  .md-card-image {
    width: 100%;
    height: 50%;
  }

  .profile_div {
    padding-top: 15px;
    background-size: 100%;
  }


  .md-headline {
    color: black;
  }

  .row-header-row-related {
    background-color: whitesmoke;
    width: 100%;
    background-size: 100px 80px;

  }

  .div-chat-related {
    position: relative;
    left: 40%;
    transform: translate(50%, -120%);
    font-size: 12px;
    color: black;

  }

  .medal-related {
    position: relative;
    top: 20%;
    left: 1%;
    font-size: 18px;
    width: 5%;
  }

  .center {
    position: relative;
    top: -1%;
    left: 57%;
    transform: translate(-50%, -300%);
    font-size: 12px;
    color: white;
  }

  .redheart-related {
    position: relative;
    top: 20%;
    left: 1%;
    font-size: 18px;
  }

  .chat-related {
    position: relative;
    top: 20%;
    left: 1%;
    width:25px;
  }

  b {
    font-size: 9pt;
    color: darkgray;
  }

  .profile {
    max-width: 100%;
    width: 80px;
    height: 80px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #fff;
  }



  .md-padding {
    background-color: white;
    width: 100%;
  }

  md-menu {
    margin-left: 0;
  }



  h4, h5 {
    font-size:12px;
    text-align:center;
    color: grey;
  }

  .md-headline {
    font-size: 20px;
    color: black;
  }





</style>


<md-content flex ui-view class="md-padding" layout-xs="column">
  <div ng-controller="MyCosTableController as ctrl">
  <br>
  <div class="row-header-row-related" align="center">
    <div class="profile_div" >
      <img ng-if="mycostable.memberInfo.image.substring(1,7) != 'http'" class="profile" width="90" ng-src="{{mycostable.host}}{{mycostable.memberInfo.image}}" ><br>
      <img ng-if="mycostable.memberInfo.image.substring(1,7) == 'http'" class="profile" width="90" ng-src="{{mycostable.memberInfo.image}}" ><br>
      <b>{{mycostable.memberInfo.id}}
        <img class="redheart-related" ng-src="assets/images/redheart.png">
      <br>Lv.{{mycostable.memberInfo.level}}&nbsp;{{mycostable.memberInfo.level_name}}<img class="medal-related" ng-src="assets/images/medal.svg"></b>
      <div class="center">{{mycostable.memberInfo.count}}</div>
    </div>
   <div style="background-color:#DCDCDC">
    <md-button class="md-icon-button">
      <md-icon md-svg-src="assets/images/add.svg" ng-click="mycostable.submit()"></md-icon>
    </md-button>
     </div>


    <div class="row-header-row-related" ng-repeat="mycostablelist in mycostable.mycosmeticsList"  style="background-color:whitesmoke">
      <br>
          <md-card align="center">
            <div ng-if="mycostablelist.m_cosimage.substring(0,4) != 'http'" ><img width="10" class="md-card-image" ng-src="{{ctrl.host}}{{mycostablelist.m_cosimage}}" ></div>
            <div ng-if="mycostablelist.m_cosimage.substring(0,4) == 'http'" ><img width="10" class="md-card-image" ng-src="{{mycostablelist.m_cosimage}}" ></div>
            <md-card-title>

              <md-card-title-text>
                    <span class="md-headline">
                      {{mycostablelist.cos_brand}}
                    </span>
                <h5><span class="md-subhead">{{mycostablelist.cos_name}}</span></h5>
                <div layout="row" layout-align="center" align="center">
                <div layout="column" >
                  <div align="center" ng-if="mycostablelist.m_starrate == 0"><br><img class="star-related" ng-src="assets/images/rating0.svg"></div>
                  <div align="center" ng-if="mycostablelist.m_starrate == 1"><br><img class="star-related" ng-src="assets/images/rating1.svg"></div>
                  <div align="center" ng-if="mycostablelist.m_starrate == 2"><br><img class="star-related" ng-src="assets/images/rating2.svg"></div>
                  <div align="center" ng-if="mycostablelist.m_starrate == 3"><br><img class="star-related" ng-src="assets/images/rating3.svg"></div>
                  <div align="center" ng-if="mycostablelist.m_starrate == 4"><br><img class="star-related" ng-src="assets/images/rating4.svg"></div>
                  <div align="center" ng-if="mycostablelist.m_starrate == 5"><br><img class="star-related" ng-src="assets/images/rating5.svg"></div>
                  <div layout="column"><h4>내 별점</h4></div>
                </div>
                  <div layout="column">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                <div layout="column" >
                  <div align="center" ng-if="mycostablelist.cos_starrateAvg == 0"><br><img class="star-related" ng-src="assets/images/rating0.svg"></div>
                  <div align="center" ng-if="mycostablelist.cos_starrateAvg == 1"><br><img class="star-related" ng-src="assets/images/rating1.svg"></div>
                  <div align="center" ng-if="mycostablelist.cos_starrateAvg == 2"><br><img class="star-related" ng-src="assets/images/rating2.svg"></div>
                  <div align="center" ng-if="mycostablelist.cos_starrateAvg == 3"><br><img class="star-related" ng-src="assets/images/rating3.svg"></div>
                  <div align="center" ng-if="mycostablelist.cos_starrateAvg == 4"><br><img class="star-related" ng-src="assets/images/rating4.svg"></div>
                  <div align="center" ng-if="mycostablelist.cos_starrateAvg == 5"><br><img class="star-related" ng-src="assets/images/rating5.svg"></div>
                  <div layout="column"><h4>전체 평균</h4></div>
                </div>
                  </div>

              </md-card-title-text>
            </md-card-title>

            <div class="md-menu-demo"  ng-cloak>
              <div class="menu-demo-container" layout-align="center" layout="row" width="100%">
                <md-menu>
                  <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
                    <md-icon md-svg-src="assets/images/menu.svg"></md-icon>
                  </md-button>
                  <md-menu-content width="6">
                    <md-menu-item>
                      <md-button ng-click="ctrl.detailOfMycosTable(mycostablelist.m_index)">
                        <md-icon md-svg-src="assets/images/menu.svg"></md-icon>
                        상세보기
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="ctrl.showConfirm(mycostablelist, $event)">
                        <md-icon md-svg-src="assets/images/menu.svg"></md-icon>
                        삭제
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </div>
            </div>
          </md-card>

    </div>
  </div>

  </div>
</md-content>


