<!-- 정민/ 내 화장대 이후 검색페이지
20160801 최종수정 -->
<ion-view view-title="searchAtWrite">
  <ion-content class="padding">
    <div class="list">
      <form id="searchAtWrite">
        <input type="text" maxlength="10" placeholder="브랜드 명을 입력해 주세요." name="cos_name" ng-model="cos_name">
        <button class="button button-positive" type="button" ng-click="searchAtWriteSubmit(cos_name)">검색</button>
      </form>
    </div>

    <table class="table table-striped .table-bordered .table-condensed">
      <thead>
      </thead>
      <tbody>
      <div ng-repeat="cosmetics in list">
        {{cosmetics.cos_index}}<br>
        {{cosmetics.cos_name}}<br>
        {{cosmetics.cos_brand}}<br>
        {{cosmetics.cos_price}}<br>
        <img src={{cosmetics.cos_pic}}>
        <button class="button button-positive" type="button" ng-click="selectToWriteReview(cosmetics.cos_index)">선택</button>

      </div>
      </tbody>
    </table>
  </ion-content>
</ion-view>
