<!--혜윤/ 설정페이지
20160727 최종수정 -->
<ion-header-bar class="bar">
  <input type="text" placeholder="화장품명 또는 브랜드명을 입력해주세요." ng-model="cos_name" id="searchInputBox">

  <button class="button button-icon ion-android-search" id="searchButton"
          ng-click="searchCosmetics(cos_name)"></button>
  <button class="button button-icon ion-android-settings" id="settingsButton"
          ng-click="goToSettings()"></button>
</ion-header-bar>
<ion-view view-title="settings">
  <ion-content class="padding">

    <form name="setForm">
      <div>
        <img ng-src={{pic}}><br>
        {{AuthService.name()}}<br>
      </div>
    <button type="button" ng-click="logout()">로그아웃</button>
    <p>
      <input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required  ngf-model-invalid="errorFile">
      <i ng-show="setForm.file.$error.required">*required</i><br>
      <i ng-show="setForm.file.$error.maxSize">File too large
        {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
      <img ng-show="setForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
      <button ng-click="picFile = null" ng-show="picFile">Remove</button>
    </p>
      <button type="button" ng-click="changePhoto(picFile)">사진변경</button>
    </form>
  </ion-content>
</ion-view>
