<!--예은/ 관심리스트목록페이지
20160727 최종수정 -->
<style>
  .item-thumbnail-left {
    width: 100%;
    position: relative;
    text-align: center;
  }
  .col-left {
    position: relative;
    text-align: left;
    width: 15%;

  }
  .col-middle {
    width: 75%;
    text-align: left;
  }
  .col-center {
    width: 10%;
    position: relative;

  }

  #cos_pic {
    max-width: 150px;
    min-width: 50px;
    width :100%;
    height: 100%;
  }
</style>
<ion-header-bar class="bar" ng-controller="searchTabCtrl">
  <input type="text" placeholder="화장품명 또는 브랜드명을 입력해주세요." ng-model="cos_name" id="searchInputBox">

  <button class="button button-icon ion-android-search" id="searchButton"
          ng-click="searchCosmetics(cos_name)"></button>
  <button class="button button-icon ion-android-settings" id="settingsButton"
          ng-click="goToSettings()"></button>
</ion-header-bar>
<ion-view view-title="Interest">
  <ion-content class="padding">
    <h3>관심리스트 목록</h3>
      <div ng-repeat="cosmetics in cosmeticsList">


        <div class="row item-thumbnail-left">

          <div class="col col-left"><img id="cos_pic" ng-src={{cosmetics.cos_pic}}></div>
          <div class="col col-middle">

            {{ cosmetics.cos_brand}}
            <h6><b>{{ cosmetics.cos_name}}</b></h6>
            {{ cosmetics.cos_price}}원
          </div>

          <div class="col col-center">
            <button class="button button-stable button-clear eag-home-button" ng-click="delete(cosmetics)">
              <img src="img/deleteInterest.png" width="30" height="30"></button>

          </div>

        </div>

      </div>

  </ion-content>
</ion-view>
