<!--정민/ 내화장품목록페이지
20160727 최종수정 -->
<ion-header-bar class="bar-positive">
  <input type="text" placeholder="화장품명 또는 브랜드명을 입력해주세요." ng-model="cos_name" id="searchInputBox">
  <div class="buttons">
    <button class="button button-icon ion-android-search"
            ng-click="searchCosmetics(cos_name)"></button>
  </div>
</ion-header-bar>
<ion-view view-title="Mycostable">
  <ion-content class="padding">
    <div class="list">
      <form id="mycostable">
        <label class="item item-input">

        </label>
      </form>
    </div>
   <table class="table table-striped .table-bordered .table-condensed">
     <thead>
     <tr>
       <td>&nbsp;개봉날짜</td>
       <td>&nbsp;만료날짜</td>
       <td>&nbsp;화장품명</td>
       <td>&nbsp;브랜드</td>
       <td>&nbsp;가격</td>
       <td>&nbsp;타입</td>
       <td>&nbsp;사진</td>

     </tr>
     </thead>
     <tbody>
     <button class="button button-block button-positive" type="button" ng-click="submit()">내 화장품 등록</button>
     <tr ng-repeat="mycostable in mycosmeticsList">
       <td>&nbsp;&nbsp;{{mycostable.m_open_date }}</td>
       <td>&nbsp;&nbsp;{{mycostable.m_expire_date }}</td>
       <td>&nbsp;&nbsp;{{mycostable.cos_name}}</td>
       <td>&nbsp;&nbsp;{{mycostable.cos_brand}}</td>
       <td>&nbsp;&nbsp;{{mycostable.cos_price}}</td>
       <td>&nbsp;&nbsp;{{mycostable.cos_type}}</td>
       <td>&nbsp;&nbsp;<img src={{mycostable.cos_pic}}></td>
      <!-- <button type="button" ng-click="submit(mycostable)">click</button> -->
     </tr>
     <!--<tr ng-repeat="mycostable2 in mycosmeticsList2">-->
       <!--<td>&nbsp;&nbsp;{{mycostable2.cos_name}}</td>-->
       <!--<td>&nbsp;&nbsp;{{mycostable2.cos_brand}}</td>-->
       <!--<td>&nbsp;&nbsp;{{mycostable2.cos_price}}</td>-->
       <!--<td>&nbsp;&nbsp;<img src={{mycostable2.cos_pic}}></td>-->


     <!--</tr>-->

     <!-- 보내는 값 없으면 그냥 submit() -->

     </tbody>
   </table>
  </ion-content>
  </ion-view>
