html {
  text-align: center;
}
button {
  width: 222px;
  height: 49px;
}
.kakao-button {
  opacity: 0.8;
}
input {
  align-content: center;
  align-items: center;
}
.item-input {
  margin: 20px;
  width: 222px;
  height: 49px;
}
