/* Empty. Add your own CSS if you like */
.bar {
  position: relative;
  overflow: hidden;
}
.thumb{

}
/*검색바 부분*/
#searchInputBox {
  width: 80%;
  font-size: 8pt;
  background-color: whitesmoke;
  text-align: center;
}
#searchButton {
  width: 10%;
  color: gray;
}
#settingsButton{
  width: 10%;
  color: gray;
}
/*검색바 부분*/

.subject{
  color: lightpink;
}

.progress div {  font-size: smaller;  background: orange;  width: 0;}

table{
  text-align: center;
}

.nav-bar-block, .bar {
}
.button-block, .button{
}
.tabs-color-active-positive{
  background-color: #e4a2a3 !important;
}
.tabs-icon-left{
}
html {
  height:100%;
}
