<ion-view view-title="Search">
  <ion-content class="padding">
    <div class="list">
      <form id="search">
        <label class="item item-input">
          <input type="text" maxlength="10" placeholder="브랜드명 또는 화장품명을 입력하세요." name="cos_name" ng-model="cos_name">
        </label>
        <button class="button button-positive" type="button" ng-click="submit(cos_name)">검색</button>
        <button class="button button-positive" type="button" ng-click="viewInterest(cos_name)">관심리스트보기</button>
      </form>
    </div>

    <table class="table table-striped .table-bordered .table-condensed">
      <tbody>
      <div ng-repeat="cosmetics in list">
        {{ cosmetics.cos_index}}<br>
        {{ cosmetics.cos_name}}<br>
        {{ cosmetics.cos_brand}}<br>
        {{ cosmetics.cos_price}}<br>
        <img src={{cosmetics.cos_pic}}>
        <button class="button button-positive" type="button" ng-click="save(cosmetics)">관심리스트 저장</button>
      </div>
      </tbody>
    </table>
  </ion-content>
</ion-view>
