<ion-view view-title="Daum Api Test">

  <ion-content class="padding">

    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="text" placeholder="검색어를 입력해주세요" ng-model="query">
      </label>
      <button class="button button-positive" type="button" ng-click="getResult(query)">검색</button>
    </div>
    <!--<iframe src="#/searchApi", width=100%></iframe>-->
  </ion-content>
</ion-view>
