<ion-view view-title="화장대상세페이지">
  <ion-content class="padding">
    <table class="table table-striped .table-bordered .table-condensed">
      <thead>
      </thead>
      <tbody>
      <div ng-repeat="result in cosmeticsInfoList">
        <img src={{result.image_url}}><br>
        화장품이름 : {{ result.cos_name}}<br>
        후기 : {{result.m_review}}
        사진 : {{result.m_cosimage}}
        <button type="button" ng-click="showSelected(result)">저장</button>
      </div>
      </tbody>
    </table>
  </ion-content>
</ion-view>
