<style>
  .star-related {
    width: 50px;
  }
  h5 {
    color: #343434;
  }
  .cos-image {
    margin-right: 0;
    padding-top: 1px;
    height: inherit;
  }

  md-toolbar {
    padding-left: 0;
    padding-right: 0;
  }
  .md-dialog-content{
    padding: 15px;
    font-size: 11px;
  }
</style>
<md-dialog aria-label="detail">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <img class="cos-image" ng-src={{ctrl.result.cos_pic}}>

        <h5>{{ctrl.result.cos_name}}</h5>

        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          <md-icon md-svg-src="assets/images/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

        {{ctrl.result.m_review}}
        <div layout="column" >
          <div align="center" ng-if="ctrl.result.m_starrate == 0"><br><img class="star-related" ng-src="assets/images/rating-star0.svg"></div>
          <div align="center" ng-if="ctrl.result.m_starrate == 1"><br><img class="star-related" ng-src="assets/images/rating-star1.svg"></div>
          <div align="center" ng-if="ctrl.result.m_starrate == 2"><br><img class="star-related" ng-src="assets/images/rating-star2.svg"></div>
          <div align="center" ng-if="ctrl.result.m_starrate == 3"><br><img class="star-related" ng-src="assets/images/rating-star3.svg"></div>
          <div align="center" ng-if="ctrl.result.m_starrate == 4"><br><img class="star-related" ng-src="assets/images/rating-star4.svg"></div>
          <div align="center" ng-if="ctrl.result.m_starrate == 5"><br><img class="star-related" ng-src="assets/images/rating-star5.svg"></div>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
