<style>

  .image_img {
    width: 100%;
    height: 100%;
  }

  h5 {
    color: dimgrey;
    font-size: 10px;

  }

  .flip-container {
    background-color: white;

  }

  .row-header-row-related {
    width: 100%;

  }

  b {
    font-size: 9pt;
    color: darkgray;
  }

  .profile {
    max-width: 100%;
    width: 100px;
    height: 100px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #fff;
  }

  .md-padding {
    width: 100%;
    padding-top: 10px;
  }

  h4 {
    font-size: 14px;
    text-align: center;
    color: grey;
    margin-left: 40px;
  }

  .profile_div {
    padding-top: 15px;
    background-size: 100%;
    padding-bottom: 10px;
    margin: 0;
  }
  .list_img {
    width: 120px;
  }

  .title-text {
    font-size: 11px;
    padding: 2px;
  }
  .show_review {
    font-size:10px;
    padding:2px 2px 2px 2px;
    background-color: #FFEAEA;
  }
  .show_review_content {
    font-size:10px;
    padding:15px;
    background-color: #eaeaea;
  }

  .type {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .type_btn {
    width: 100%;
    background-color:#FFEAEA;
    padding: 0;
    margin: 0;
  }
  .star-related {
    width: 50px;
  }

</style>


<md-content flex ui-view class="md-padding" layout-xs="column" layout="row" >
    <div align="center">
      <div class="profile_div" style="background-image: url({{userSharedDetail.background}});">
        <img class="profile" width="90" ng-src={{userSharedDetail.host}}{{userSharedDetail.memberInfo.image}}><br>
        <b>{{userSharedDetail.memberInfo.id}}</b>
    </div>
      <div class="type" layout="row">
        <md-button class="type_btn" ng-click="userSharedDetail.changeListType('list')">목록보기</md-button>
        <md-button class="type_btn" ng-click="userSharedDetail.changeListType('image')"> 이미지보기</md-button>
      </div>
    <div ng-if="userSharedDetail.listType == 'list'" class="list_div">
      <div class="row-header-row-related" ng-repeat="result in userSharedDetail.cosmeticsInfoList"
           style="background-color:white">

        <md-card align="center" style="background-color: transparent">
          <md-card-title>
              <div ng-if="result.m_cosimage.substring(0,4) != 'http'" class="md-media-lg card-media"><img
                class="list_img" width="20" md-card-sm-image ng-src={{userSharedDetail.host}}{{result.m_cosimage}}>
              </div>
              <div ng-if="result.m_cosimage.substring(0,4) == 'http'" class="md-media-lg card-media"><img
                class="list_img" width="20" md-card-sm-image ng-src={{result.cos_pic}}></div>
            <md-card-title-text>
              <span class="title-text">{{ result.cos_name}}</span>
              <div layout="column" >
                <div align="center" ng-if="result.m_starrate == 0"><br><img class="star-related" ng-src="assets/images/rating0.svg"></div>
                <div align="center" ng-if="result.m_starrate == 1"><br><img class="star-related" ng-src="assets/images/rating1.svg"></div>
                <div align="center" ng-if="result.m_starrate == 2"><br><img class="star-related" ng-src="assets/images/rating2.svg"></div>
                <div align="center" ng-if="result.m_starrate == 3"><br><img class="star-related" ng-src="assets/images/rating3.svg"></div>
                <div align="center" ng-if="result.m_starrate == 4"><br><img class="star-related" ng-src="assets/images/rating4.svg"></div>
                <div align="center" ng-if="result.m_starrate == 5"><br><img class="star-related" ng-src="assets/images/rating5.svg"></div>
              </div>
            </md-card-title-text>
          </md-card-title>
          <span class="show_review" ng-click="review.show = !review.show" >리뷰보기</span>
          <div class="show_review_content" ng-init="review.show = false" ng-show="review.show" >
            {{result.m_review}}
          </div>
        </md-card>
      </div>
    </div>

    <div ng-if="userSharedDetail.listType == 'image'" class="list_div">
      <div flex ng-cloak>
        <md-grid-list
          md-cols="2" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
          md-row-height-gt-md="1:1" md-row-height="1:1"
          md-gutter="8px" md-gutter-gt-sm="4px">
          <md-grid-tile ng-repeat="result in userSharedDetail.cosmeticsInfoList" >
           <div ng-if="result.m_cosimage.substring(0,4) != 'http'" style="width: 100%; height: inherit;"  ng-click="userSharedDetail.showDialog(result)">
             <img class="image_img" ng-src={{userSharedDetail.host}}{{result.m_cosimage}}>
           </div>
           <div  ng-if="result.m_cosimage.substring(0,4) == 'http'" style="width: 100%;"  ng-click="userSharedDetail.showDialog(result)">
             <img class="image_img" ng-src={{result.cos_pic}}>
           </div>
      </md-grid-tile>
        </md-grid-list>
      </div>
    </div>

  </div>
</md-content>
