<style>
.main{
  margin-bottom: 30px;
  padding: 1px 30px;
  background-image: url("assets/images/image.jpg");
  background-size: 250%;
  text-align: center;
  color: white;
}
.profile {
  max-width: 100%;
  width: 100px;
  height: 100px;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
}
  h1 {
    color: #3A3A3A;
  }
</style>
  <md-content flex ui-view>

    <section class="main" style="background-image: {{}}">
      <h1>파우치체커</h1>
      <p class="lead">
        <img class="profile" src="{{main.host}}{{main.userImage}}"><br>
        {{main.username}}
      </p>
      <md-button class="md-raised animated infinite" ng-class="main.classAnimation" ng-click="main.showToastr()">Splendid Toastr</md-button>
      <p>
        With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>
      </p>
    </section>

    <div class="techs" layout-align="center">
      <md-card ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
        <md-card-content>
          <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
          <h3 class="md-title">{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
        </md-card-content>
        <div class="md-action-buttons">
          <md-button ng-href="{{ awesomeThing.url }}">Website</md-button>
        </div>
      </md-card>
    </div>
  </md-content>
